* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  padding: 1rem 2rem;
  color: white;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 100;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.navbar-links {
  display: flex;
  gap: 2rem;
}

.navbar-links a {
  color: inherit;
  font-weight: 600;
  font-size: 1.3rem;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 0.2s;
}

.navbar-links a:hover {
  color: #7ebdea;
  opacity: 1;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar-connexion,
.navbar-deconnexion {
  background: none;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-right: -10px;
  text-decoration: none;
}

.navbar-deconnexion:hover {
  color: #fd4646;
}

.navbar-inscription,
.navbar-profile {
  background: linear-gradient(45deg, #5439f1, #9278f2);
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.2s ease;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}
.navbar-inscription:hover {
  transform: scale(1.01);
}
.navbar-inscription:active {
  transform: scale(0.99);
}

.toggle-switch {
  width: 60px;
  height: 30px;
  background: rgba(10, 10, 10, 0.2);
  border-radius: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 4px;
  position: relative;
}

.toggle-thumb {
  height: 22px;
  width: 22px;
  background: #ffc107;
  color: #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  transition: 0.2s ease;
}

.toggle-thumb.right {
  transform: translateX(30px);
  background: #90caf9;
  color: #fff;
}
